<div class="content">
    <h3>Hello {{email}},</h3>
    <p>Your organization ({{organization}}) is rejected.</p>
    <div class="rejection-detail">
        <p><b>Description:</b> <span>{{description}}</span></p>
    </div>
</div>