{{#if fromImport}}
<div class="content">
    <h3>Hello {{userName}},</h3>
    <p>You have been Tested positive from data imported in batch <b>{{batchNumber}}.</b></p>
    <p>Please stay safe and take rest.</p>
</div>
{{/if}}

{{#if fromCron}}
<div class="content">
    <h3>Hello {{userName}},</h3>
    <p>You have been Tested positive in batch <b>{{batchNumber}}.</b></p>
    <p>Please stay safe and take rest.</p>
</div>
{{/if}}
