<div class="content">
    <div class="welcome">
        <h3>Hello {{name}} ,</h3>
        <p>Import Completed.</p>
        {{#if logLink}}
        <p> If you think something is wrong with this particular import, you can find the complete log on this file <a
                href="{{logLink}}">view log</a>.</p>
        {{/if}}
    </div>
</div>
