<div class="content">
    <div class="welcome">
        <h2>Welcome to FLO</h2>
        <p>Your vaccination record is stored to our system.
            You can log in using the following credentials to view your details:</p>
        <a href="{{clientAppURL}}/auth/login">Log In</a>
    </div>
    <div class="credential-group">
        <div class="input-field">
            <label for="subscriptionType">Subscription</label>
            <span id="subscriptionType">{{subscriptionType}}</span>
        </div>
        <div class="input-field">
            <label for="email">Email</label>
            <span id="email">{{email}}</span>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <span id="password">{{password}}</span>
        </div>
    </div>
</div>
